.project-card {
  margin: auto;
  width: 1000px;
  max-width: 100%;
}
.project-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#project-img {
  height: 100%;
}

@media (max-width: 767.98px) {
  .project-img-wrapper {
    border: 0;
  }
  #project-img {
    height: 0;
    padding: 0px;
  }
}
