$background: #f9fbff;
$margin-top: 200px;
$max-width: 95%;
$break-point: 1200px;

@mixin break {
  @media (max-width: #{$break-point}) {
    @content;
  }
}

.risk {
  background-color: $background;
  height: calc(100vh - 60px);
}

@each $key in h1, h2, h3, h4, h5, h6 {
  #{$key} {
    margin: 0;
  }
}

.wrapper {
  display: flex;
  @include break {
    flex-direction: column;
  }
}

.content {
  text-align: center;
  width: 575px;
  max-width: $max-width;
  margin: auto;
}
