$background: #ebf5f8;
$margin-top: 200px;
$max-width: 95%;
$break-point: 1200px;

@mixin break {
  @media (max-width: #{$break-point}) {
    @content;
  }
}

.risk {
  background-color: $background;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  @include break {
    flex-direction: column;
  }
}

.content {
  text-align: center;
  width: 575px;
  max-width: $max-width;
  margin: auto;
}
