.clockWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  background-color: #ebf5f8;
}

.counter {
  display: flex;
}

#time-left {
  font-size: 2em;
}

.counters {
  display: flex;
}
